name: oelint-adv-lint

on:
  pull_request:
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at 00:00 UTC
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: python:3.11-slim

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run oelint-adv
        run: |
          .github/scripts/oe-linter

